.clients * {
  z-index: 1;
}

.clients {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.clientCard {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 180px;
  background-color: white;
  justify-content: center;
}

.logo {
  border-radius: 500px;
  align-self: center;
}
