.recent-projects {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.project-card {
  flex-wrap: nowrap;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.project-card > img {
  position: absolute;
  z-index: -3;
}

.project-card > img:after {
  position: absolute;
  background-color: rgba(0, 0, 0, 8);
  z-index: -3;
  top: 0;
  height: 100%;
  width: 25%;
  left: 0;
  display: block;
  content: "";
}

.recent-projects-title {
  font-size: 50px;
  text-align: center;
}

.project-title {
  text-align: center;
  justify-content: center;
  top: 100px;
  color: white;
  font-size: 30px;
}

.project-details {
  color: white;
  text-align: center;
}

.author {
  color: white;
  margin: 10px;
}

.view-more {
  align-items: end;
  color: white;
  font-size: 12px;
  justify-content: end;
  margin-left: 80%;
  margin-top: 50%;
}

.view-more:hover {
  color: #ec1c24;
}

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title title title"
                         "project1 project2 project3 project4";
}

.project {
    font-family: Galano Grotesque;
    font-style: normal;
    color: #F2F3F5;
    padding-left: 25px;
}

.project-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
}

.project-location {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.project-details {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.project1 {
    grid-area: project1;
    background-image: url("https://picsum.photos/1440/630");
}

.project2 {
    grid-area: project2;
    background-image: url("https://picsum.photos/1440/630");
}

.project3 {
    grid-area: project3;
    background-image: url("https://picsum.photos/1440/630");
}

.project4 {
    grid-area: project4;
    background-image: url("https://picsum.photos/1440/630");
}

.project-title {
    grid-area: title;
    height: 80px;
    font-family: Galano Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #131D3B;
    position: relative;
    top: 25px;
    left: 100px;
}

hr {
    width: 85%;
}